.search-bar-main{
    padding: 20px 0;
    border-bottom: 1px solid lightgrey;
    background-color: white;
}

.search-bar-container{
    display: flex;
    justify-content: space-between;
    width: 980px;
    margin: 0 auto;
    font-size: 2.5rem;
}

.search-bar-left i{
    padding-right: 15px;
    margin-right: 5px;
    border-right: 1px solid black;
}

.search-bar-middle form input{
    text-align: center;
    padding: 5px 20px;
    border-radius: 3px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
}

.search-bar-right i{
    margin-left: 30px;
}