.post-container{
    width: 600px;
    display: flex;
    flex-direction: column;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin: 55px auto;
}
.post-container img{
    width: 100%;
    height: auto;
}

.post-container p{
    font-size: 1.3rem;
    font-weight: bold;
    margin: unset
}

.post-header{
    display: flex;
    margin: 15px 10px;
}

.post-header img{
    border-radius: 500px;
    width: 30px;
    height: 30px;
}

.post-header h1{
    margin: 5px;
    margin-left: 10px;
    font-size: 1.4rem;
}

.post-bottom{
    padding: 5px 10px;
}

.post-time{
    font-size: 1rem;
    font-weight: lighter;
    color: grey;
}

.like-comment{
    font-size: 2.5rem;
}

.like-comment i{
    padding: 0 10px 5px 0;
}
